<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр документа</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'js/bootstrap.min.js' %}" ></script> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-row-reverse mt-3">
            <p class="text-right"><a href="{{document.id_archive}}/delete" class="text-danger">Удалить документ<img width="16" height="16" src="{% static 'mainapp/image/trash.svg' %}" alt="trash"></a></p>
            <p class="text-right mr-3"><a href="{{document.id_archive}}/edit" class="text-success">Редактировать документ<img width="16" height="16" src="{% static 'mainapp/image/edit.svg' %}" alt="edit"></a></p>
            <p class="text-left mr-3"><a href="/" class="text-primary">На главную<img width="16" height="16" src="{% static 'mainapp/image/back.svg' %}" alt="arrow"></a></p>
        </div>
        <div class="item border border-left-0 border-right-0 mt-1">
            <p class="ml-2 text-primary">Вид объекта <br><span class="text-dark lead">{{ obj_type }} </span></p>
            <p class="ml-2 text-primary">Вид охранного документа <br><span class="text-dark lead">{{ sec_type }} </span></p>
            <p class="mt-3 ml-2 text-primary">Номер охранного документа <br><span class="text-dark lead">{{ document.security_doc_num }}</span></p>
            <p class="ml-2 text-primary">Прошла ли выплата при получении охранного документа?<br><span class="text-dark lead">{{ document.security_document_payment }} </span></p>
            <p class="ml-2 text-primary">Первичное Наименование<br><span class="text-dark lead">{{ document.primary_name }} </span></p>
            <p class="ml-2 text-primary">Номер заявки<br><span class="text-dark lead">{{ document.application_num }} </span></p>
            <p class="ml-2 text-primary">Дата заявки<br><span class="text-dark lead">{{ document.application_data | date:"d-m-Y"  }} </span></p>
            <p class="ml-2 text-primary">Итоговое наименование<br><span class="text-dark lead">{{ document.final_name  }} </span></p>
            <p class="ml-2 text-primary">Дата охранного документа <br><span class="text-dark lead">{{ document.date_reg_is | date:"d-m-Y"  }} </span></p>
            <p class="ml-2 text-primary">Классификация <br><span class="text-dark lead">{{ classification }} </span></p>
            <p class="ml-2 text-primary">Авторы<br><span class="text-dark lead"></span></p>
            {% for author in authors %}
                <div class="ml-2">
                    <ul>
                        <p><li class="text-primary">ФИО</li><span class="text-dark lead">{{ author.author }} </span></p>
                        <p><li class="text-primary">Подразделение</li><span class="text-dark lead">{{ author.division }} </span></p>
                        <p><li class="text-primary">Должность</li><span class="text-dark lead">{{ author.post }} </span></p>
                    </ul>
                </div>
            {% endfor %}
            <p class="ml-2 text-primary">Ответсвтенное лицо<br><span class="text-dark lead">{{ document.responsible_person }} </span></p>
            <p class="ml-2 text-primary">Статус РИД<br><span class="text-dark lead"></span></p>
            {% if document.f_official_or_initiative.official_or_initiative == "Служебный"%}
                <div class="ml-2">
                    <ul>
                        <p><li class="text-primary">Служебный</li><span class="text-dark lead">{{ off_or_init.f_id_official_patent_type.official_patent_type }} </span></p>
                        <p><li class="text-primary">Номер приказа</li><span class="text-dark lead">{{ off_or_init.of_award_order_num }} </span></p>
                        <p><li class="text-primary">Номер договора</li><span class="text-dark lead">{{ off_or_init.of_award_contract_num }} </span></p>
                    </ul>
                </div>
            {% else %}
                <div class="ml-2">
                    <ul>
                        <p><span class="text-dark lead">Инициативный</span></p>
                        <p><li class="text-primary">Номер приказа</li><span class="text-dark lead">{{ off_or_init.in_contract_num }} </span></p>
                        <p><li class="text-primary">Номер договора</li><span class="text-dark lead">{{ off_or_init.in_contract_date | date:"d-m-Y" }} </span></p>
                    </ul>
                </div>
            {% endif %}
            <p class="ml-2 text-primary">Учет в ИС<br><span class="text-dark lead text-nowrap">{{ document.accounting_in_is }}</span></p>
            <p class="ml-2 text-primary">Распоряжение исключительными правами<br>
            {% if document.f_id_exclusive_rights.exclusive_rights == "Лицензионный договор" and agreements and award %}
                <div class="ml-2">
                    <ul>
                        <p><span class="text-dark lead">Лицензионный договор</span></p>
                        <p><li class="text-primary">Дата заключения</li><span class="text-dark lead">{{ agreements.ag_date_of_conclusion | date:"d-m-Y" }} </span></p>
                        <p><li class="text-primary">Номер</li><span class="text-dark lead">{{ agreements.ag_num }} </span></p>
                        <p><li class="text-primary">Дата регистрации</li><span class="text-dark lead">{{ agreements.ag_date_of_registration | date:"d-m-Y" }} </span></p>
                        <p><li class="text-primary">Использование в уставном капитале</li><span class="text-dark lead">{{ agreements.authorized_capital }} </span></p>
                        <p><li class="text-primary">Срок оплаты</li><span class="text-dark lead">{{ award.award_term }} </span></p>
                        <p><li class="text-primary">Сумма оплаты</li><span class="text-dark lead">{{ award.award_sum }} </span></p>
                        <p><li class="text-primary">Дата оплаты</li><span class="text-dark lead">{{ award.date_of_award | date:"d-m-Y" }} </span></p>
                    </ul>
                </div>
            {% elif document.f_id_exclusive_rights.exclusive_rights == "Договор отчуждения" and agreements and award %}
                <div class="ml-2">
                    <ul>
                        <p><span class="text-dark lead">Договор отчуждения</span></p>
                        <p><li class="text-primary">Дата заключения</li><span class="text-dark lead">{{ agreements.ag_date_of_conclusion | date:"d-m-Y" }} </span></p>
                        <p><li class="text-primary">Номер</li><span class="text-dark lead">{{ agreements.ag_num }} </span></p>
                        <p><li class="text-primary">Дата регистрации</li><span class="text-dark lead">{{ agreements.ag_date_of_registration }} </span></p>
                        <p><li class="text-primary">Сумма оплаты</li><span class="text-dark lead">{{ award.award_sum }} </span></p>
                        <p><li class="text-primary">Дата оплаты</li><span class="text-dark lead">{{ award.date_of_award | date:"d-m-Y" }} </span></p>
                    </ul>
                </div>
            {% else %}
                <p><span class="text-dark lead">Нет</span></p>
            {% endif %}
            
            <p class="ml-2 text-primary">Выплата вознаграждений авторам за распоряжение<br><span class="text-dark lead">{{ document.royalty_payment }} </span></p>
            <p class="ml-2 text-primary">Охрана за рубежом<br></p>
            {% for country in countries %}
                <div class="ml-2">
                    <ul>
                        <p><li class="text-primary">Охраняется</li><span class="text-dark lead">{{ country.co_name }} </span></p>
                    </ul>
                </div>
            {% endfor %}
            <p class="ml-2 text-primary">Дата выплаты следующей пошлины<br><span class="text-dark lead">{{ document.next_poshlina_date | date:"d-m-Y" }} </span></p>
        </div>
    </div>
</body>
</html>
